/* General Styles */
@font-face {
  font-family: 'Poppins';
  src:  url('/assets/font/Poppins-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: 'Poppins', Sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #000000;
  }
  
  header {
    font-family: 'Poppins', Sans-serif;
    background: #000000;
    color: #fff;
    padding: 1rem 0;
    grid-template-columns: auto auto;
  }
  
  .imageContainer {
    width: auto; /* Let width adjust automatically */
    height: 6vw; /* Desired height */
    max-height: 90px;
    min-height: 30px;
    overflow: hidden; /* Trim overflowing parts */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .headerLogo {
    width: auto;
    height: 30vw; /* Stretch to fill the container's height */
    max-height: 500px;
    min-height: 100px;
  }

  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 2vw; /* Desired height */
    max-height: 10px;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #f1e8e8;
  }
  
  nav ul li a:hover {
    color: #007BFF;
  }
  
  main {
    padding: 20px;
    background-color: #fff;
  }
  
  footer {
    background: #000000;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
  }
  
  footer a {
    color: #007BFF;
    text-decoration: none;
  }